.box {
    border: 50px solid red;
    margin-bottom:20px;
    padding-top:50px;
    padding-left:40px;
    text-align:center;
    margin-right:100px;
  }
  
  .box-green {
    border: 50px solid #27ae60;
    margin-bottom:20px;
    padding-top:50px;
    padding-left:40px;
    text-align:center;
    margin-right:100px;
  }
  
  .box-blue {
    border: 50px solid #2980b9;
    padding-top:50px;
    padding-left:40px;
    text-align:center;
    margin-right:100px;
  }